@import '../abstracts/variables';
@import '../abstracts/mixins';

.reviews {
  @include flex(column, space-between, initial);
  background-color: $white;
  width: 770px;
  min-height: 304px;
  border-radius: 5px;
  box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
  padding: 27px 30px;
}