.default-avatar {
  @include flex (unset, center, center);
  background-color: $lighten-gray1;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

@media screen and (max-width: 780px) {
  .default-avatar {
    height: 40px;
    width: 40px;
  }
}