.default-button {
  background-color: $white;
  height: 40px;
  width: 129px;
  border: 1px inset $blue;
  border-radius: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: $blue;
}