.default-button {
  @include font-params (14px, 600, 18px);
  background-color: $white;
  height: 40px;
  width: 129px;
  border: 1px inset $blue;
  border-radius: 40px;
  color: $blue;
}

@media screen and (max-width: 780px) {
  .default-button {
    @include font-params (14px, 600, 24px);
    height: initial;
    width: initial;
    border: none;
    padding: 0;
  }
}