// colors
// default
$black: #0F1011;
$white: #FFF;
$gray: #42464B;
$green : #10B97B;
$red: #E3405E;
$blue: #1373E5;
$orange: #FABD48;
// bg
$general-bg: #f5f7fa;
// light
$lighten-gray: #87919C;
$lighten-gray1: #CED7E0;
$lighten-blue: #EAF1F9;
// dark
$darken-red: #EB5757;
$darken-green: #219653;

// adaptive
// tablet
$tablet-card-width: 690px;