@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.reviews__body {
  &__review {
    display: flex;
    &--icon {
      padding-top: 7px;
    }
    &--text {
      @include font-params (15px, 500, 28px);
      color: $gray;
      padding-left: 13px;
      padding-right: 30px;
    }
  }
}