@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.reviews__body {
  &__review {
    display: flex;
    &--icon {
      padding-top: 7px;
      &--label {
        display: none;
      }
    }
    &--text {
      @include font-params (15px, 400, 28px);
      color: $gray;
      padding-left: 13px;
      padding-right: 30px;
    }
  }
}

@media screen and (max-width: 780px) {
  .reviews__body {
    &__review {
      flex-direction: column;
      &--icon {
        @include flex (row, initial, center);
        padding-top: 7px;
        &--label {
          @include font-params (14px, 600, 22px);
          display: inline;
          color: $black;
          padding: 5px 0 6.67px 6.67px;
        }
      }
      &--text {
        @include font-params (14px, 400, 24px);
        color: $gray;
        padding: 0;
      }
    }
  }
  
}