@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.reviews__footer {
  @include flex (row, space-between, center);
  &__wrapper {
    @include flex (row, space-between, normal);
    &__interaction-button {
      @include flex (row, space-between, normal);
      &--number {
        @include font-params (14px, 600, 22px);
        color: $lighten-gray;
        padding: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .reviews__footer {
    padding-top: 8px;
    &__wrapper {
      @include flex (row, space-between, normal);
      &__interaction-button {
        @include flex (row, space-between, normal);
        &--number {
          padding: 0 15px 0 6px;
        }
      }
    }
  }
}