@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.reviews__header {
  @include flex (row, space-between, normal);
  &__wrapper {
    @include flex (column, unset, unset);
    width: 83%;
    &__top {
      @include flex (row, space-between, unset);
      &--info {
        @include flex (row, space-between, center);
        &--name {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: $black;
        }
        &--country {
          @include flex (row, center, center);
          @include sm-text ($gray);
          &--text {
            margin-left: 8px;
            margin-right: 25px;
          }
        }
        &--date {
          @include sm-text ($lighten-gray);
        }
        &--green-role {
          @include colored-role ($green, $green);
        }
        &--red-role {
          @include colored-role ($red, $red);
        }
      }
    }
    &__bottom {
      display: flex;
      &--messages-amount {
        @include sm-text ($lighten-gray);
      }
      &--bull {
        height: 3px;
        width: 3px;
        padding: 0 15px;
        color: $lighten-gray;
      }
      &--adress {
        @include sm-text ($gray);
        &--link {
          color: $blue;
        }
      }
    }
  }
  &__aside {
    @include flex (row, center, center);
    &__rating {
      font-size: 15px;
      font-weight: 600;
      line-height: 28px;
      color: $black;
      padding-left: 6px;
    }
  }
}