@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.App {
  @include flex (column, space-evenly, center); 
  height: 100%;
  background: $general-bg;
  padding-top: 30px;
  .reviews {
    @include flex(column, space-between, unset);
    @include box-shadow;
    background-color: $white;
    width: 770px;
    min-height: 304px;
    margin-bottom: 10px;
    padding: 27px 30px;
    &--heading {
      @include heading-text (0 0 27px 0);
      color: $black;
    }
    &--dots {
      padding-top: 3px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .App .reviews {
    box-sizing: border-box;
    width: $tablet-card-width;
    &--heading {
      @include heading-text (0 0 17px 0);
    }
  }
}

@media screen and (max-width: 760px) {
  .App {
    height: 100%;
    .reviews {
      width: 90%;
      margin: auto;
      margin-bottom: 10px;
      padding: 24px 20px;
      &--heading {
        @include heading-text (0 0 17px 0);
        @include font-params (16px, 500, 24px);
        width: 90%;
        margin: auto;
      }
      &--dots {
        padding-top: 5px;
      }
    }
  } 
}