@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.reviews__totals-card {
  @include flex (column, space-between, center);
  height: 450px;
  width: 370px;
  background-color: $white;
  padding-top: 30px;
  padding-bottom: 45px;
  &--heading {
    @include heading-text (0);
  }
  &--rating {
    @include flex (row, center, baseline);
    font-size: 24px;
    font-weight: 400;
    &--current {
      @include font-params (50px, 500, 52px);
      color: $black;
    }
  }
  &--reviews-amount {
    @include font-params (13px, 400, 22px);
    color: $lighten-gray;
  }
  &--progress-bar-wrapper {
    @include flex (row, space-between, center);
  }
  &--progress-bar1 {
    @include progress-bar ($green, 89%);
  }
  &--progress-bar2 {
    @include progress-bar ($orange, 56%);
  }
  &--progress-bar3 {
    @include progress-bar ($red, 20%);
  }
}